* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200&family=Montserrat:wght@100;200;300;400&family=Open+Sans:wght@300&family=Poppins:wght@200&family=Roboto+Mono:wght@200&display=swap');

header {
    background-color: black;
    height: 120px;
    padding: 18px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
   }
   .logo {
    color: white;
    float: left;
    padding-top: 60px;
   }
 nav a {
    color: white;
    text-decoration: none;
    }
 
 .barra {
    float: right;
    padding-top: 60px;
   }
 nav ul li {
    display: inline-block;
    padding: 0px 20px; 
   }
.contenedor {
    /*height: 500px;*/
    background-color: #739260;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 180px);
    grid-template-areas: 
    "img1 img2 img3 img3"
    "img1 img4 img5 img6"
    "img7 img4 img8 img8";
    padding: 60px;
    grid-gap: 15px;
    }
.item {
    border: 1px solid white;
    border-radius: 7px;
    background-size: cover;
    background-position: center;
    transition: all 1s;
}
.item:hover  {
    transform: scale(1.20);
}
.item1 {
    grid-area: img1;
    background-image:url(../imagenes/relleno.jpg)
  
}
.item2 {
    grid-area: img2;
    background-image:url(../imagenes/sorrentinos1.jpg)
}
.item3 {
    grid-area: img3;
    background-image: url(../imagenes/frida.jpg);
}
.item4 {
    grid-area: img4;
    background-image: url(../imagenes/sorrentinos.jpg);
}
.item5 {
    grid-area: img5;
    background-image: url(../imagenes/raviolones.jpg);
    
}
.item6 {
    grid-area: img6;
    background-image: url(../imagenes/mesa.jpg);
}
.item7 {
    grid-area: img7;
    background-image: url(../imagenes/mesa1.jpg);
}
.item8 {
    grid-area: img8;
    background-image: url(../imagenes/frida1.jpg);
}